#personal-info-div{
 margin-top: 6rem;

}

#per-head{
    font-family: 'Roboto';
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 32px;
}

@media (min-width:768px){
    .per-name{
        height: 40px !important;
    }

    #per-head{
        font-size: 2vw;
    }
}
#per-detail-div{
  background-color: #E9E9E6;
    height: 400px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#per-detail-div1{
    background-color: #E9E9E6;
    height: 400px;
    border-radius: 12px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#per-sidebar{
    height: 317px;
    background-color: #8D6E63;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#per-div-flex{
    
    flex-wrap: wrap;
    display: flex;
    justify-content: space-around;
}
@media (max-width:567px){

    .per-sidebar-labels{
        font-size: 10px;
    }
   

    #per-sidebar{
        height: 307px;}
        #per-detail-div{
             
              height: 300px;}

              #per-detail-div1{
                height: 300px;
              }
              #per-user-name{
                font-size: 10px;
              }
              .per-side-lab{
                font-size: 8px !important;
            }
}

.per-name{

    height: 30px;background-color: burlywood; border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: black;
}
@media (max-width:768px){
    .per-side-lab{
        font-size: 10px;
    }
    .col-2-div-order-detail{
        margin-top: 20px;
    }

    
}
.per-edit-error{
    display: inline-block;
    position: relative;
    left: -98px;
}
#per-user-name{

    font-size: 13px !important;
}
#id-a-check{
    background-color: black;
    color: white;
    font-size: 0.7rem;
    display: inline-block;
    width: 107px;
    height: 17px;
    border-radius: 12px;}