{% extends 'userprofile/profile.html' %}
{% block titleprofile %}
Change password
{% endblock %}
{% block details %}
<div style="background: aliceblue;" class="col-7 col-md-4 col-lg-3">
    <form method="post" action="{% url 'userprofile:change-password' email=user.email %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="c_pass" class="form-label">Enter currunt password</label>
            <input type="password"  class="form-control"  name="current_password"    >
            {% if errors.incorect %}
            <h1 style="position: relative;left: 0;" class="signup-errors per-edit-error">{{ errors.incorect }}</h1>
          {% endif %}
            <br>
        </div><br>
        <div class="mb-3">
            <label for="n_pass" class="form-label">New password</label>
            <input type="password" class="form-control"   name="new_password"  >
            {% if errors.len %}
            <h1 style="position: relative;left: 0;" class="signup-errors per-edit-error">{{ errors.len }}</h1>
          {% endif %}
        </div><br>
        <div class="mb-3">
            <label for="con_pass" class="form-label">Confirm password</label>
            <input type="password"  class="form-control"  name="confirm_password"   >
            {% if errors.confirm %}
            <h1 style="position: relative;left: 0;" class="signup-errors per-edit-error">{{ errors.confirm }}</h1>
          {% endif %}
            <br>
        </div>
        <button type="submit" class=" mb-2 btn btn-primary">Submit</button>

      </form>
    </div>
{% endblock %}