{% extends  'usermain/Login.html'%}
{% block content %}
<div id="verification-outerdiv" class="text-center">
  <div id="verification-innerdiv" class="col-8 col-md-6 col-lg-5">
      <h1 id="verification-head1">Sign-up</h1>

      <h2 id="verification-head2">O t p verification</h2>
      
      {% for i in messages %}

      <h5>{{i}}</h5>
      {% endfor %}

      <form action="{% url 'usermain:verification' %}" method="post" class="mt-5 me-4">
        {% csrf_token %}
           <input  type="number" name="otp" required> 
           <h1 id="verification-resend-otp">resent otp</h1> <br>
           <input type="submit"  value="Verify" id="verification-submit">
      </form>

  </div>
</div>
{% endblock %}