{% extends  'Login.html'%}
{% block content %}
<div id="verification-outerdiv" class="text-center">
  <div id="verification-innerdiv" class="col-8 col-md-6 col-lg-5">
      <h1 id="verification-head1">Sign-up</h1>

      <h2 id="verification-head2">O t p verification</h2>

      <form action="" class="mt-5 me-4">
           <input class="verification-input" type="number"> <input type="number" class="verification-input"> <input type="number" class="verification-input"> <input type="number" class="verification-input">
           <h1 id="verification-resend-otp">resent otp</h1> <br>
           <input type="submit" name="" value="Verify " id="verification-submit">
      </form>

  </div>
</div>
{% endblock %}