{% extends 'adminhome/dashbord.html' %}


{% block content %}
<h1 class="text-center mb-5" id="heading-product">Categories</h1>
<div style="display: flex;justify-content: space-between;">
<div class="add-item"> <a id="a_add" style="color: white;font-size: 9px;"  href="{% url 'admincrud:addcategory' %}" ><i class="bi bi-plus-circle-fill ps-2"></i>  Add category</a></div>

<form class="form-inline" action="{% url 'admincrud:category' %}" method="get">
 
    <div class="input-group" style="justify-content: end;    align-items: center;">
     
        <input id="search" placeholder="search"  type="search" name="search"  >
        <div class="input-group-append">
          <button type="submit" id="search-button"><svg xmlns="http://www.w3.org/2000/svg" width="21" height="23" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
          </svg></button>
      </div>
    </div>
   </form>
</div>
<div class="table-responsive mt-5">
    <table class="table">
        <thead>
            <tr class="text-center">
                <th scope="col">Category image</th>
                <th scope="col">Category name</th>
                <th scope="col">Edit</th>
                <th scope="col">Soft delete</th>
               
            </tr>
        </thead>
        <tbody>
          
            {% for i in category %}
            <tr class="text-center" style="vertical-align: middle;">
                <td class="t-body-cutomer"><img style="height: 80px;width: 130px;" src="{{i.Category_image.url}}" alt="product-image"></td>
                <td class="t-body-cutomer">{{ i.Category_name }}</td>

                <td class="t-body-cutomer"><a href="{% url 'admincrud:edit-category' category_id=i.id %}"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                  </svg></a></td>

                {% if i.is_deleted == False %}
                    <td class="t-body-cutomer"><a id="Block-user" href="{% url 'admincrud:unlist-category' category_id=i.id %}">Unlist</a></td>
                {% else %}
                    <td class="t-body-cutomer"><a id="unblock-user" href="{% url 'admincrud:list-category' category_id=i.id %}">List</a></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  

{% endblock %}


{% block link %}
{% load static %}
<link href="{% static 'admincrud/css/style.css' %}" rel="stylesheet">
  {% endblock %}
