{% extends 'adminhome/dashbord.html' %}

{% block content %}
<h1 class="text-center mb-5" id="heading-product">Category Product</h1>

<form method="post" action="{% url 'admincrud:addcategory'  %}" enctype="multipart/form-data" class="styled-form">
  {% csrf_token %}

  

  <label for="category_name" class="styled-label">Category Name:</label>
  <input type="text" name="category_name" class="styled-input">
  {% if errors.name %}
<h1 class="signup-errors">{{ errors.name }}</h1>
{% endif %}
{% if errors.exist_category %}
<h1 class="signup-errors">{{ errors.exist_category }}</h1>
{% endif %}
<br>
  <label for="images">Category image:</label> <br>
<input type="file" class="file-image" name="category_image" accept="image/*" >
  
{% if errors.image %}
<h1 class="signup-errors">{{ errors.image }}</h1>
{% endif %}
<br>
<br>


  <button type="submit" style="display: block;margin: auto;" class="styled-button">Submit</button>

</form>


{% endblock %}

{% block link %}
{% load static %}
<link href="{% static 'admincrud/css/style.css' %}" rel="stylesheet">
  {% endblock %}