{% extends 'adminhome/dashbord.html' %}

{% block content %}

<div style="display: flex;">
<div class="card m-auto">
    <div class="card-header">
        Order for : {{orderitem.order.first_name}}
    </div>
    <div class="card-body">
        <div class="detail">
            <label>First Name:</label>
            <span>{{orderitem.order.shipping_address.first_name}}</span>
        </div>
       
        <div class="detail">
            <label>Last name:</label>
            <span>{{orderitem.order.shipping_address.second_name}}</span>
        </div>
        <div class="detail">
            <label>Email:</label>
            <span>{{orderitem.order.user.email}}</span>
        </div>
        <div class="detail">
            <label>Phone:</label>
            <span>{{orderitem.order.shipping_address.phone}}</span>
        </div>
        <div class="detail">
            <label>Country:</label>
            <span>{{orderitem.order.shipping_address.country}}</span>
        </div>

        <div class="detail">
            <label>District:</label>
            <span>{{orderitem.order.shipping_address.district}}</span>
        </div>

        <div class="detail ">
            <label>State:</label>
            <span>{{orderitem.order.shipping_address.state}}</span>
        </div>
        <div class="detail">
            <label>Postal code:</label>
            <span>{{orderitem.order.shipping_address.postal_code}}</span>
        </div>
        <div class="detail">
            <label>Order date:</label>
            <span>{{orderitem.order.created_at}}</span>
        </div>
        <div class="detail">
            <label>Status:</label>
            {% if orderitem.order.is_deleted == False %}
            <a onclick="return ale()" id="a-status" href="{% url 'admincrud:change-status'  id=orderitem.order.id %}">{{ orderitem.order.status }}</a>
            
            <script>
                function ale() {
                    var userConfirmation = confirm('Are you sure to change order status');
            
                    if (!userConfirmation) {
                        return false;
                    }
                    else{
                        return true
                    }

                }
</script>
{% else %}  
<div class="detail">
     
    <span>Order is been Cancelled</span>
</div>
{% endif %}
        </div>
        <div class="detail">
            <label>Address:</label>
            <span>{{orderitem.order.shipping_address.address}}</span>
        </div>
{% if  orderitem.order.coupon %}
        <div class="detail">
            <label>coupon:</label>
            <span>{{orderitem.order.coupon}} - {{orderitem.order.coupon.discount_percentage}}%</span>
        </div>{% endif %}
        <div class="detail">
            <label>Payment method:</label>
            <span>{{orderitem.order.payment_method}}</span>
        </div>
{% if c %}
        <div class="detail">
            <label>Category offer:</label>
            <span>{{c}}</span>
        </div>
{% endif %}
        <div class="detail">
            <label>Shipping:</label>
            <span>{{orderitem.shipping_option.shipping_name}} Rs.{{orderitem.shipping_option.shipping_price}}</span>
        </div>
        <div class="detail">
            <label>Total of order item :</label>
            <span>{{orderitem.total}}</span>
        </div>



        <div class="detail">
            <label>Total of order  :</label>
            <span>{{orderitem.order.total}}</span>
        </div>


        <div class="detail">
            
            {%  if orderitem.order.paid == True %}
            <label>paid_amount of order :</label>
            <span>{{orderitem.order.paid_amount}}</span>
            {% endif %}
        </div>
    </div>
</div>

<div class="card m-auto">
    <div class="card-header">
        Orderd Product
    </div>
    <div class="card-body">
        <div class="detail">
            <label>Product Name:</label>
            <span style="font-size: 2.6vh;">{{orderitem.product.product_name}}</span>
        </div>
       
        <div class="detail">
            <label>Quantity:</label>
            <span>{{orderitem.quantity}}</span>
        </div>
        <div class="detail">
            <label>Sub total:</label>
            <span>{{orderitem.sub_total}}</span>
        </div>
        <div class="detail">
            <label>Product brand:</label>
            <span>{{orderitem.product.brand.brand_name}}</span>
        </div>
        <div class="detail">
            <label>Product Category:</label>
            <span>{{orderitem.product.category.Category_name}}</span>
        </div>
        {% if orderitem.product.tax_rate %}
        <div class="detail">
            <label>Tax:</label>
            <span>{{orderitem.product.tax_rate}} - {{orderitem.product.tax_rate.rate}}%</span>
        </div>{% endif %}
        
    </div>
</div>

</div>


<style>.card {
    width: 300px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 16px;
}

.card-header {
    background-color: #3498db;
    color: #fff;
    padding: 12px;
    text-align: center;
}

.card-body {
    padding: 16px;
}

.detail {
    margin-bottom: 20px;
}

.detail label {
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
}

.detail span {
    display: block;
    color: #555;
}</style>

{% endblock %}