{% extends 'usermain/Login.html' %}

{% block content %}  
<div style="display: flex;flex-direction:row;margin-top: 12rem;justify-content: space-around;">
 
<div class="col-4   col-md-5 col-lg-4" >
  {% block stage %}
  <hr class="col-4   col-md-5 col-lg-4" id="hr-123" style="background: black;  height: 3px;  position: absolute; top: 214px;">
  <div style="display: flex; position: relative;justify-content: space-around;">
    <div class="stage-checkout" style="position: absolute;bottom: 41px;background-color: rgb(54, 54, 141);color: #fff;border: none;left: 15px;">1</div>
    <div class="stage-checkout" style="position: absolute;bottom: 41px;background-color: rgb(255, 255, 255);color: #000000;right: 15px;">2</div>

  
  
  </div>
  {% endblock %}
{% block form %}
<form action="{% url 'userorder:bulk-buy-address'  %}" method="post">
  {% csrf_token %}
  
  <div style="display: flex; flex-direction: column;">
    {% for i in shippping_address %}
        <div class="shipping-divs" onclick="selectRadioButton('{{i.id}}')">
            <input type="radio" style="width: 27px; height: 23px;" name="shipping_add" value="{{i.pk}}" >
            <div style="display: flex; flex-direction: column;">
                <label for="">{{i}}</label>
            </div>
            
        </div>
    {% endfor %}
    {% if errors.shipping_add_id %}
   <h1 class="signup-errors mt-0">{{errors.shipping_add_id}}</h1>

    {% endif %}


</div>
<div> 
  <label for="">Shipping Method</label>

  
        <select class="form-control" name="ship" id="ship">
          {% for i in ship %}
          <option value="{{i}}">{{i}}  Rs.{{i.shipping_price}}</option>
          {% endfor %}
        </select>
    
      </div><br>

    
    <div class="form-group text-end">
     
    <button type="submit" class="btn btn-primary ">Countinue</button></div>
  </form>
  <h1 class="text-black"  ><a class="productname text-balck " style="text-decoration: none;" href="{% url 'userorder:bulk-buy'   %}">Add new address</a></h1>


  <script>
    function selectRadioButton(value) {
        const radioButton = document.querySelector('input[name="shipping_add"][value="' + value + '"]');
        radioButton.click();
    }
</script>


  {% endblock %}

</div>


<div class="col-5 div-product-detail-checkout col-md-4 col-lg-3 pt-3" style="    overflow: auto;">
  
  {% for i in cart_item %}
  <div style="display: flex;" id="detail-product-checkout-div">
    <img class="m-3 image-checkout" style="width: 90px;" src="{{i.product.product_image_set.first.image.url}}" alt="">
    <div   style="display: flex;flex-direction: column;" class="m-1">
      <h1 class="productname">{{i.product.product_name}}</h1>
    
    <h1 class="productname">Quantity :{{i.quantity}}</h1>
    <h3 id="productprice">Rs.{{i.product.product_price}}</h3> 
   {% block shipping %}  
    
    {% endblock %}
    {% if i.product.tax_rate %}
    <h3 id="productprice">Tax.{{i.product.tax_rate.rate}}</h3> 
{% endif %}

     </div>

  </div>
  <div class="mt-5">
    <hr class="col-8 m-auto">
  </div>
  {% endfor %}
  {% block coupen%}
 
{% endblock %}

{% block total %}



<div class="mt-3 ms-3">
 
  {% if c %}
  <h1 class="productname">Category offers :{{c}} </h1>
{% endif %}
  <h1 class="productname">Total : {{t}}</h1>
</div>

{% endblock %}
</div>


</div>
 {% endblock %}

 {% block static %}
 {% load static %}
 <link rel="stylesheet" href="{% static 'userorder/css/style.css'  %}">
 {% endblock %}